[Desktop Entry]
Version=1.0
Name=Bitzec Swing Wallet
Comment=Bitzec Swing Wallet is a dekstop GUI full node wallet for Bitzec
GenericName=Bitzec
Keywords=Bitzec;Crypto-currency;Bitzec;
Exec=bitzec
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/bitzec/Bitzec.png
Categories=GNOME;Application;
StartupNotify=true
