[Desktop Entry]
Version=1.0
Name=Zcash Wallet
Comment=Zcash Desktop GUI Wallet (full node)
GenericName=Zcash Wallet
Keywords=Zcash;Crypto-currency;Zcash;
Exec=zcash-desktop-gui-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zcash-gui-wallet/ZCash-icon.png
Categories=GNOME;Application;
StartupNotify=true
