[Desktop Entry]
Version=1.0
Name=MyZcash Swing Wallet
Comment=MyZcash Swing Wallet is a dekstop GUI full node for Zcash
GenericName=MyZcash
Keywords=Zcash;Crypto-currency;Zcash;
Exec=myzcash-swing-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zcash-gui-wallet/ZCash-icon.png
Categories=GNOME;Application;
StartupNotify=true
