Package: zecmate
Version: 1.1.3
Section: misc
Priority: low
Architecture: all
Description: BitzecSwing Wallet - Desktop GUI Wallet for Bitzec
Maintainer: tadeas.kmenta@zel.cash
Depends: default-jdk, zcash
